{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-10 mt-5" align="right">
            <h2 class="text-primary"><strong> {{ riddle.question }} </strong></h2>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-s-3 offset-s-3">
            <form action="/riddle/{{ riddle.id }}" method="POST">
                <input type="text" name="answer" placeholder="Riddle Answer" />
                <br>
                <br>
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Submit<i class="fas fa-dice ml-5"></i></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
