{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-auto">
            <h1 class="text-primary">Leaderboard</h1>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-md-center mt-5">
    <div class="col-md-4 offset-md-4">
        <table class="table table-hover mt-5">
            <tbody>
                <tr class="table-secondary">
                    <th scope="row">
                        {% for user in scores %}
                        <h3 class="text-muted">
                        <strong>{{ user[0] }}</strong>
                        </h3>
                    </th>
                    <td>
                        <h3>{{ user[1] }}</h3>
                        {% endfor %}
                    </td>
                </tr>
             </tbody>
        </table>
    </div>
</div>
{% endblock %}