<!------------------------------------------------------------Base extension -->

{% extends 'base.html' %} {% block content %}

<!-----------------------------------------------------------Submit a Riddle -->

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-auto">
            <h2 class="display-4 text-primary">Submit a Riddle</h2>
            {{ question }}

        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-auto text-center">
            <form action="/riddle/new" method="POST">
                <input type="text" name="question" placeholder="Riddle" />
                <br>
                <br>
                <input type="text" name="answer" placeholder="Answer" />
                <br>
                <br>
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
