<!------------------------------------------------------------Base extension -->

{% extends 'base.html' %} {% block content %}

<!-----------------------------------------------------------------Thank you -->

<div class="container">
    <div class="row justify-content-md-center mt-5 mb-5">
        <div class="col-md-auto">
            <h3 class="display-3 text-primary">Thank you for your contribution! </h3>
           
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center text-center mt-5 mb-5">
        <div class="col-md-auto">
            <h3 class="display-4 text-secondary">We will review your riddle
                <!--<a href="/riddle/'+ str(riddle.id) + '"> Find it here </a>'---></h3>
        </div>
    </div>
</div>

{% endblock %}
